/*Start Main Rulez */
body {
	background-color:#F4F4F4;
}
/*End Main Rulez */
/*Start Login Form */

.login {
	width:300px;
	margin:200px auto;
}
.login .form-group{
	position: relative;
}
.login input  {
	margin-bottom:20px;
}
.login .form-control {
	background-color:#EAEAEA;
	padding: 10px 36px !important;

}
.login .btn {
	background-color:#008dde;
}
.login .form-group i {
    position: absolute;
    top: 10px;
    left: 10px;
}
/*End Login Form */

/* Start NavBar*/
.navbar {
	padding:0
}

.navbar-dark .navbar-brand {
	font-size:1rem;
	margin-right:0	
}
.navbar-expand-md .navbar-nav .nav-link,
.navbar-dark .navbar-brand{
    padding: 1rem;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-nav .dropdown-menu{

	background-color:#3498db
}
.navbar-nav .dropdown-menu  {
	right: 0;
	min-width: 14rem;
	left:-60px !important;
	padding:0;
	margin-top:0


}
.dropdown-menu .dropdown-item{
	color:#FFF;
	transition: .3s ease-in-out;
	padding: 7px 10px;

}
.dropdown-menu .dropdown-item:hover {
	color:#000;
	padding:10px 20px;
}
/* End NavBar */

/* Start Dashboard Page */

.home-stats .stat {
	color:white;
	padding:10px;
	font-size: 15px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.home-stats .stat span {
	display:block;
	font-size: 60px;
}
.home-stats .stat span a {
	color:#FFF;
	
}
.home-stats .stat span a:hover{
	text-decoration: none;
}
.home-stats .st-members {
	background-color:#3498db; 
}
.home-stats .st-pending {
	background-color:#e74c3c; 
}
.home-stats .st-items{
	background-color:#d35400; 
}
.home-stats .st-comments {
	background-color:#8e44ad; 
}
.home-stats .stat i {
	float: left;
	font-size:70px;
	position: absolute;
	top:20%;
	left:10%;
}
.home-stats .stat .info {
	float:right
}
.latest .card {
	color:black !important;
}
.latest .card  .card-header span.toggel-info{
	color:#999;
	cursor: pointer;
}
.latest .card  .card-header span.toggel-info:hover {
	color:#333
}
.latest .card .latest-ul {
	list-style:none;
	padding:0;
	margin-bottom:0
}
.latest .card .latest-ul li {
	padding:8px;
	overflow: hidden;
	text-transform: capitalize;
}
.latest .card .latest-ul li:nth-child(odd){
	background-color:#EEE;
}
.latest .card .latest-ul li .btn {
	
padding: 1px 10px;
}
.latest .card .latest-ul li a {
	color:#FFF;
	text-decoration: none;
	
}
/* End Dashboard Page */



/*Start Member Page*/
.main-table {
	-webkit-box-shadow: 0 1px 7px #ccc;
	-moz-box-shadow: 0 1px 7px #ccc;
	-o-box-shadow: 0 1px 7px #ccc;
	box-shadow: 0 1px 7px #ccc;
}
tbody.members {
	    background-color: #FFF;

}
.table td, .table th {
	vertical-align: middle;
}

.member .btn {
	padding: 3px 3px;
}





/* Start Edit Page*/

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: -3px;
	color:#757575;

}
.member {
	padding-top:70px;
}
.member .table td a.active {
	margin-left:4px;
}
.contact-form {
	max-width: 450px;
	margin: 40px auto;
}
.contact-form  .form-group {
	position: relative;
}
.contact-form input,
.contact-form textarea {
	margin-bottom:5px;
	padding: .375rem 2rem !important;
}
.contact-form  .form-group  .asterisk {
	position: absolute;
    top: 0px;
    right: 7px;
    color: #D20707;
    font-size: 20px;
}

.contact-form  .form-group  i {
	position: absolute;
    top: 11px;
    lefT: 2%;
	color:#888282;

}
.contact-form  .form-group  i.fa-paper-plane {
	color:white;
}
.contact-form .form-group i.showpass {
	right: -30px;
    left: auto;
	cursor:pointer;
}
.contact-form .form-group i.showpass:hover {
	color:black;
}
.contact-form  .form-group  span.asterisx{
	position: absolute;
    top: 2px;
    right: 5px;
    color: red;
    font-size: 25px;

}
.contact-form .form-group .custom-alert {
	padding: 5px 10px;
	display:none;
}
/* End Edit Page*/
/*End Member Page*/


/************ Start Category Page ************/
/*Start Add Part */

.category-form  .form-group .control-label {
	padding:0
}
.categories .card .ordering a:hover {
	text-decoration: none;
}
.categories .card .ordering .active {
	color:red;
	font-weight: bold;
}
.categories .cat {
	margin-bottom:20px;
	position: relative;
	overflow: hidden;
}
.categories .cat:last-of-type ~ hr {
	display: none
}
.categories .cat .hidden-button {
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	position:absolute;
	top:10px;
	right:-156px;
}
.categories .cat:hover > .hidden-button {
	right:10px;
}
.categories .cat .hidden-button a {
	padding: 5px;
	font-size:13px;
}
.categories .cat p {
	margin-bottom:5px;
}
.categories .cat a {
	margin-right:5px;
}

/*End Add Part */
/************ End Category Page ************/