/*Start Main Rulez */
body {
	background-color:#F4F4F4;
    height:3000px;
}
.nice-message {
	background-color:#FFF;
	padding:20px;
	margin:30px 0 20px ;
	font-size: 25px;
	border-left: 7px solid #080;
	
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: -3px;
	color:#757575;

}
.pad {
	padding-top:70px;
}
/*End Main Rulez */

/* Start NavBar And Upperbar*/

.user_avatar {
    width:40px;
    border:1px solid #FFF;
    border-radius: 50%;
    padding:2px;
}
.navbar {
	padding:0
}

.navbar-dark .navbar-brand {
	font-size:1rem;
	margin-right:0	
}
.navbar-expand-md .navbar-nav .nav-link,
.navbar-dark .navbar-brand{
    padding: 1rem;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-nav .dropdown-menu{

	background-color:#3498db
}
.navbar-nav .dropdown-menu  {
	right: 0;
	min-width: 14rem;
	left:-60px !important;
	padding:0;
	margin-top:0


}
.dropdown-menu .dropdown-item{
	color:#FFF;
	transition: .3s ease-in-out;
	padding: 7px 10px;

}
.dropdown-menu .dropdown-item:hover {
	color:#000;
	padding:10px 20px;
}
/* End NavBar */

/* Start Login Page */
.form-container {
	max-width:300px;
	margin:10px auto;
}
.form h1 {
	margin-bottom:48px
}
.form h1 span {
	cursor:pointer;
}
.form [data-class="login"].active {
	color:#007bff
}
.form [data-class="signup"].active {
	color:#5cb85c;
}
.form span {
	color:#cecece;
}
.form .signup {
	display:none;
}
 .form-group {
	position: relative;
}

 .form-group  .asterisk {
	position: absolute;
    top: 0px;
    right: 7px;
    color: #D20707;
    font-size: 20px;
}
.form-errors .errors {
    width:43%;
    margin:10px auto;
}
/* End Login Page */

/* Start New Ad Page */
.newad .newad-form .form-group {
      position: relative ;
          width: 60%;
}
.newad .newad-form input{
       padding: 5px 26px;
}
.newad .newad-form input[type="submit"] ~ i {
    color:white
}
.newad .newad-form .form-group i {
    position: absolute;
    top:11px;
    left:5px;
    
}
/* End New Ad Page */

/* Start Item Page */
.avatar {
    margin-top:20px;
}
.avatar img{
    width:80%;
}
.box {
   margin-top:40px;
    width:80%;
    background-color:#bbb;
    color:white;
    padding:15px;
    border-radius: 10px;
}
/* End Item Page */


/* Start Profile*/
.item-profile span {
    
    padding:5px;
}

/* End Profile */