/*Start Main Rulez */
body {
	background-color:#F4F4F4;
}
.nice-message {
	background-color:#FFF;
	padding:20px;
	margin:30px 0 20px ;
	font-size: 25px;
	border-left: 7px solid #080;
	
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: -3px;
	color:#757575;

}
.pad {
	padding-top:70px;
}
/*End Main Rulez */

/* Start NavBar*/
.navbar {
	padding:0
}

.navbar-dark .navbar-brand {
	font-size:1rem;
	margin-right:0	
}
.navbar-expand-md .navbar-nav .nav-link,
.navbar-dark .navbar-brand{
    padding: 1rem;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-nav .dropdown-menu{

	background-color:#3498db
}
.navbar-nav .dropdown-menu  {
	right: 0;
	min-width: 14rem;
	left:-60px !important;
	padding:0;
	margin-top:0


}
.dropdown-menu .dropdown-item{
	color:#FFF;
	transition: .3s ease-in-out;
	padding: 7px 10px;

}
.dropdown-menu .dropdown-item:hover {
	color:#000;
	padding:10px 20px;
}
/* End NavBar */



